/* cuerpo con fuentes solicitadas*/
body {
    font-family: "Raleway", "Open Sans";
    color:white;
    background-color: black;

}
.navbar {
    background-color: transparent !important;
    color:#f1b8b8;
}


/* smooth a sroll*/
.bg-interno{
    background-color: #16a2b7;
    transition: all 2s ease;
}

.h1{
    font-family: "Raleway";
    font-size: 400;
}
.container_header{
    margin-left: 0;
    margin-right: 0;
} 

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container_h1{
    margin-left: 0;
    margin-right: 0;
} 
.hr_linea{
    background-color: #f4ffe2;
    height:0.2em;

}
.card0
{
    background-color: black;
}
.card-body01
{  background-color: #16a2b7;  
    padding:0;
    }
.fa-iconos{
    font-size: 2em;
    color: #479fe7;
}
.card-body02
{  background-color: black;
    color:white;
    padding:0;
    margin:0;
    text-align:left;

}
.card-body00
{  background-color:rgb(129, 103, 172);;  
    margin-top: 1.5em;
    }
.card-body03
{ background-color: #16a2b7;  
    color:rgb(33, 151, 52);
    text-align:left;
    height:17em;
    padding: 0.5em;
    
}
.card-imagen{
    height:140px;
}
/* footer*/
.page-footer
{
    background-color: #16a2b7;
}
footer {
    color:hsl(202, 53%, 58%);
    font-weight: bold;
    background-color: hsl(78, 79%, 40%);
    font-family: "Raleway";
    font-size: 400;
    position: absolute;
    width: 100%;
    padding:2px
}
/* Botones de redes sociales*/
.btn{
    width:50px;
    color:hsl(239, 68%, 62%);
    margin:9px;
    padding:10px;
    background-color: #3c3aad;
}